@model IEnumerable<ElectrodomesticosWeb.Models.Compra>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>



<table class="table table-hover">


    <thead>
    <th>
        Imagen
    </th>

    <th>
        Descripcion
    </th>

    <th>
        Precio
    </th>
    </thead>
    <tr class="success">
        <td>
            imagen
        </td>

        <td>
            descripcion
        </td>

        <td>
            precio
        </td>
    </tr>


    



</table>


<div style="background-color:indianred; height:300px;width:300px;border-top:100px;">
    <br />

    @using (Html.BeginForm("carrito", "Home", FormMethod.Get, new { @class = "navbar-form navbar-right" }))//formulario de busqueda
    {
        <div class="form-group">
            @Html.TextBox("Nombre", null, new { @class = "form-control", @placeholder = "Nombre" })
            @Html.TextBox("Direccion", null, new { @class = "form-control", @placeholder = "Direccion" })<br />
            @Html.TextBox("Telefono", null, new { @class = "form-control", @placeholder = "Telefono" })
            @Html.TextBox("NumTarjeta", null, new { @class = "form-control", @placeholder = "NumTarjeta" })<br /><br />
            <button type="submit" class="btn btn-default">Enviar Pedido</button>
        </div>

    }
</div>